*.key
*.so
CMakeFiles
CMake*.txt
Makefile
*.cbp
*.cmake
*.orig
*.rej
*.dll
*.exe
*.user
*.moc
*.obj
*.pyc
*.h.gch
*.a
*.pdb
*.suo
Debug*
Release*
*.sdf
*.opensdf
ipch
logs
dumps
*.pyd
__pycache__
.*.swp
.*.swo
workplace/**
src/repos.json
